@model VendasWebMvc.Models.Departamento

@{
    ViewData["Titulo"] = "Consulta de Departamento";
}

<h1>@ViewData["Titulo"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    <a asp-action="Editar" class="btn btn-primary" asp-route-id="@Model?.Id">Editar</a>
</div>
